* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav {
    width: 100%;
    height: 75px;
    background-color: black;
    line-height: 75px;
    padding: 0px 80px;
}

nav .logo {
    float: left;
}

nav .logo p {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1.5px;
    color: white;
    text-transform: uppercase;
}

nav ul {
    float: right;
}

nav ul li {
    list-style: none;
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    padding: 0px 20px;
}

nav ul li a:hover {
    border-bottom: solid 1px #FE6700;
    color: #FE6700;
}

body {
    margin-bottom: -560px;
}

.checkbtn {
    color: white;
    font-size: 25px;
    cursor: pointer;
    float: right;
    display: none;
}

#check {
    display: none;
}

@media screen and (max-width: 1024px){
    nav {
        padding: 0 50px;
    }

    .checkbtn {
        display: block;
    }

    nav .logo p {
        font-size: 15px;
    }

    nav ul {
        width: 100%;
        height: 100vh;
        background-color: #FE6700;
        position: fixed;
        top: 75px;
        right: -100%;
        text-align: center;
        transition: 0.4s ease;
    }

    nav ul li {
        display: block;
        margin: 60px 0px;
        line-height: 20px;
    }

    nav ul li a:hover {
        color: black;
    }

    #check:checked ~ ul {
        right: 0%;
    }
}

@media screen and (max-width: 767px){
    nav {
        padding: 0 50px;
    }

    .checkbtn {
        display: block;
    }

    nav .logo p {
        font-size: 15px;
    }

    nav ul {
        width: 100%;
        height: 100vh;
        background-color: #FE6700;
        position: fixed;
        top: 75px;
        right: -100%;
        text-align: center;
        transition: 0.4s ease;
    }

    nav ul li {
        display: block;
        margin: 60px 0px;
        line-height: 20px;
    }

    nav ul li a:hover {
        color: black;
    }

    #check:checked ~ ul {
        right: 0%;
    }
}