<div class="container-fluid mt-3">

  <h4>News Blog</h4>

  <div class="load">
    <div *ngIf="loading">
      <img src="../../../assets/img/load-animated.svg" alt="Loading">
    </div>
  </div>

  <div class="row">

    <div *ngFor="let d of blogDisplay" class="col-lg-3 mb-3">

      <div class="box">
        <img src="{{ d.image_url }}" width="100%" class="img">
        <h5 class="title"> {{ d.title }} </h5>
        <p class="author">{{ d.created_at | date: "dd MMM yyyy hh:mm" }}</p>
        <p class="highlight">{{ d.highlight }}</p>
        <a routerLink="detailblog/{{d.id}}" class="btn btn-dark btn-sm">Read More</a>
      </div>

    </div>

  </div>
</div>
